<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= @garden.banner_url %>');">
  <div class="container">
    <h1><%= @garden.name %></h1>
  </div>
</div>
<%# Display plants in the garden %>
<div class="container">
  <div class="row mt-2">
    <div class="col-8">
      <%# iterate over plants in the garden and display in cards %>
      <% @garden.plants.each do |plant| %>
        <div class="card-product mb-2">
          <img src="<%= plant.image_url %>" />
          <div class="card-product-infos">
            <h2><%= plant.name %></h2>
            <%= link_to "+", plant_path(plant), data: {turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'card-remove-link'  %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-4">
      <%# FORM %>
      <%= simple_form_for [@garden, @plant] do |f| %>
        <%= f.input :name %>
        <%= f.input :image_url %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
